.comprar{
    background-size: cover;
    /* background-position: cover; */
    /* background-repeat: repeat-y; */
    font-size: 15px;
    object-fit: cover;
    height: 600px;
    width: auto;
    padding: 10px;
    color: rgb(248, 242, 242);
    margin:0;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url("../img/fondoNetflix2.png");  
  }
  .compra-item{
    padding: 10px;
    height: 290px;
    width: 200px;
    background-color: bisque;
  }

  .compra-nombre{
    color: black;
  }

  .btn-compra {
    border: none;
    background-color: #ac9090;
    color: #fff;
    padding: 0 0;
    display: flex;
    align-content: center;
    width: 14.7%;
    margin-top: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;
  }