.NavBar{
  display: flex;
  width: 100%;
  margin: auto;
  position: sticky;
  padding:0;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  top: 0;
  height: 80px;
  background-color: white ;
}
*{
  padding: 0;
  margin: 0;
}
.NavBarContainer{  
  padding: 0;  
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}
.NavBar-ul{  
  display: flex;
  flex-flow: row nowrap; 
  font-weight: 700; 
  justify-content: flex-end;
  align-items: center;
}
.h2{
  color: white;
  font-weight: 400;
  span{
    font-weight: bold;
  }
}
.a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}
.NavBar-svg{
  fill:rgb(226, 168, 43);
  width: 2em;
  height: 2em;
}
.form-control-me-2{  
  fill: white;  
  width: 10em;
  height: auto;
}
.NavBar-button_menu{
  background-color:rgb(255, 255, 255) ;
  display:flex;
  /* width: 10%; */
  /* padding: 0%; */
  margin-right: unset;
  object-fit: cover;
  flex-flow: column nowrap;
  background-size: cover;  
  background-position: center;
  align-items: center;
  color:rgb(0, 0, 0)
  /* justify-content: space-between; */
};
.dropdown-item_menu{  
  margin: 0 .5em;
}
.dropdown-menu_menu{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.dropdown{
   color: "#000aff";
   width: 0em;
}   
.btn btn-default dropdown-toggle{
  font-size: 50px;
  color:blueviolet;
}
.btn-lg{
  font-size: 2em;
  color:rgb(226, 168, 43);
  border-bottom: 1px;
  display: inline-flex;
}
.dropdown-divider{
  margin: 0 .5em;
  color: aliceblue;
}
.NavBarLogo {
  display: flex;
  background-size: cover;
  background-position: center;
  background-color: rgb(106, 102, 102);
  width: 130%;
  height: 5em;
  float: left;
  position:inherit;
  color: rgb(163, 154, 154);
  object-fit: center;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  url("../../img/logoCata.png");   */

  
}
@media screen and (max-width:640px) {
  .NavBar-button_menu{
    display: flex;
    background-color:rgb(255, 255, 255);
  }
  .NavBarLogo{
    display: flex;
    align-content: center;
    
  }
  .NavBar{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .NavBar-text{ 
    fill: white;
    display: none;
    width: 1em;
    height: auto;
  }
  .NavBar-ul{
    flex-direction: column;
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
  }  
}
.NavBar-li{
  margin: 0 .5em;
  display: flex;
  font-size: 20px;
}
.Cabecera{
  width:100%;
  background-color: black;
  padding:1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  color:white;
}
.Cabecera-button{
  display:none;
  cursor: pointer;
}
.Cabecera-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width:640px){

  .Cabecera-button{
      display: flex;
  }
  .Cabecera-nav{
      width:100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      height:0vh;
      opacity: 0;
      overflow: hidden;
      transition: all .5s ease;
  }
  .Cabecera-nav.isActive{
      height:50vh;
      opacity: 1;
  }
  .Cabecera-ul{
      flex-direction: column-reverse  ;
  }
  .Cabecera-li{
      margin: .5em 0;
  }
}
  