.NavBarLogo {
    display: flex;
    background-size: cover;
    background-position: center;
    background-color: rgb(106, 102, 102);
    width: 130%;
    height: 5em;
    float: left;
    position:inherit;
    color: rgb(163, 154, 154);
    object-fit: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url("../../img/logoCata.png");   */

    
  }
.container_img{
  width: 30%;
  display: none;
  height: 70px;
   margin: 0 auto;
}

@media screen and (max-width:480px){
  .NavBarLogo{
  width: 100%;
  display: list-item;
  height: 100%;
   margin: 0 auto;
   justify-content: space-between;
   background-size: contain;
   background-position: center;
  }
}